# ignore everything
*

# but not these files...
!readme.md
!.gitignore

# configs...
!.bash*

!.config

!.config/nvim
!.config/nvim/**
!.config/lf
!.config/lf/**

#exclisions for theese
.bash_history

# !.config/<sth>
# !.config/<sth>/**
#
# First row is for the directory itself, 
# second row is for the files inside the directory,
# including subdirectories.
