# ignore everything
*

# but not these files...
!readme.md
!.gitignore

# configs...
!.bash*

!.config

!.config/hypr
!.config/kitty
!.config/lf
!.config/neofetch
!.config/nvim
!.config/rofi
!.config/waybar
!.config/dunst

!.config/hypr/**
!.config/kitty/**
!.config/lf/**
!.config/neofetch/**
!.config/nvim/**
!.config/rofi/**
!.config/waybar/**
!.config/dunst/**

!.local
!.local/share
!.local/share/rofi
!.local/share/rofi/themes
!.local/share/rofi/themes/**

#exclisions for theese
.bash_history*
.config/hypr/monitors.conf
.config/hypr/hypr.session
.config/hypr/hyprsession.conf
.config/nvim/lazy-lock.json
**/*.bak
**/.*.bak

# !.config/<sth>
# !.config/<sth>/**
#
# First row is for the directory itself, 
# second row is for the files inside the directory,
# including subdirectories.
