
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

//@theme "/home/ostap4ello/.local/share/rofi/themes/squared-nord.rasi"

//@theme "/home/ostap4ello/.local/share/rofi/themes/rounded-blue-dark.rasi"

//@theme "/home/ostap4ello/.local/share/rofi/themes/squared-nord.rasi"

//@theme "/home/ostap4ello/.local/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/home/ostap4ello/.local/share/rofi/themes/rounded-nord-dark.rasi"

//@theme "/home/ostap4ello/.local/share/rofi/themes/rounded-nordic-dark.rasi"

//@theme "/home/ostap4ello/.local/share/rofi/themes/aa-theme.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

@theme "/home/ostap4ello/.local/share/rofi/themes/aa-theme.rasi"
